
@{
    ViewData["Title"] = "Payment Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2>Payment Successful!</h2>
<p>Thank you for completing the adoption process. Your pet adoption is now confirmed!</p>


