@{
    ViewData["Title"] = "RequestSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Adoption Request Sent!</h2>
<p>Your request has been sent to the admin for approval. Please wait for further updates.</p>

